<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Add a New Recipe</h1>
    {% with messages = get_flashed_messages() %}     
        {% if messages %}                         
        {% for message in messages %}        
        <p>{{message}}</p>                   
            {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="#">Dashboard</a>
    <a href="/logout">Logout</a><br><br>
    <form action="/recipes/create" , method='POST'>
        Name:<input type="text" name="name"><br>
        Date mode On:<input type='date' name='date'><br>
        Description:<br>
        <textarea name="description"></textarea><br>
        Instructions:<input type="text" name="instruction"><br>
        <p>Under 30 Minutes?</p>
        <input type="radio" id="first" name="minutes" value="Yes">
        <label for="first">Yes</label>
        <input type="radio" id="second" name="minutes" value="No">
        <label for="second">No</label><br>
        <input type="submit" value="create"><br>
    </form>
</body>

</html>